:root {
    --secondary-400: #3E51BB;
    --secondary-500: #2E3C8A;
    --red-text: #FE3B1F;
    --neutral-300: #D4D4D4;
    --neutral-500: #737373;
    --neutral-600: #525252;
    --neutral-800: #262626;
    --footer-text: #5f5e5e;
    --nav-text: #2D2F2F;
    --nav-border: #e5e5e5;
    --lightblue-bg-D: #EBF2F9;
    --shadow-bg: #D4D4D4;
    --hover-bg: #f0f0f0;
    --DiD-C-bg: #fafafa;
}