<footer>
    <div class="container-footer">
        <div>
            <img src="../../images/Logo-full.svg" alt="logo">
        </div>
        <div>
            <h4 class="title-footer" data-key="title1"></h4>
            <div class="two-column">
                <div class="container-list">
                    <p>Digital Postbox</p>
                    <p>e-Signature</p>
                    <p>e-Transcript</p>
                </div>
                <div class="container-list">
                    <p>e-Saraban</p>
                    <p>e-Time Stamp</p>
                    <p>Track & Trace</p>
                </div>
            </div>

        </div>
        <div>
            <h4 class="title-footer" data-key="title2"></h4>
            <div class="container-list" data-key="child2"></div>
        </div>
        <div>
            <h4 class="title-footer" data-key="title3"></h4>
            <div class="container-list" data-key="child3">
                
            </div>
        </div>
        <div>
            <h4 class="title-footer" data-key="title4"></h4>
            <p class="phone">1545</p>
            <p class="mail">support@promptpost.com</p>
        </div>
    </div>
    <div class="copyright">
        © 2025 Prompt Post
    </div>
</footer>